
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


.top-buffer { 
    margin-top:20px; 
}

.content-center {
  width: 100%;
  margin-left: auto ;
  margin-right: auto ;
}

.fill-row {
    padding: 0 20px;
}

.form-block {
    max-width: 700px;
    margin: 0 auto;
}